{{Mod
|id                               = ReducedAttributeRequirementsInfluence1
|mod_groups                       = GlobalItemAttributeRequirements
|domain                           = 1
|generation_type                  = 2
|required_level                   = 68
|name                             = of the Hunt
|mod_type                         = GlobalItemAttributeRequirements
|stat_text                        = Items and Gems have (10-5)% reduced Attribute Requirements
|stat1_id                         = global_item_attribute_requirements_+%
|stat1_min                        = -10
|stat1_max                        = -5
|spawn_weight1_tag                = amulet_basilisk
|spawn_weight1_value              = 500
|spawn_weight2_tag                = default
|spawn_weight2_value              = 0
|sell_price1_name                 = Alchemy Shard
|sell_price1_amount               = 4
}}