{{Mod
|id                               = GlobalItemAttributeRequirementsUnique__1_
|mod_groups                       = GlobalItemAttributeRequirements
|domain                           = 1
|generation_type                  = 3
|required_level                   = 1
|mod_type                         = GlobalItemAttributeRequirements
|stat_text                        = Items and Gems have 100% reduced Attribute Requirements
|stat1_id                         = global_item_attribute_requirements_+%
|stat1_min                        = -100
|stat1_max                        = -100
|sell_price1_name                 = Alchemy Shard
|sell_price1_amount               = 4
}}