{{Mod
|id                               = WeaponTreeLocalReducedAttributeRequirements2
|mod_groups                       = LocalAttributeRequirements
|domain                           = 1
|generation_type                  = 31
|required_level                   = 1
|mod_type                         = WeaponTreeLocalAttributeRequirements
|stat_text                        = 30% reduced Attribute Requirements
|stat1_id                         = local_attribute_requirements_+%
|stat1_min                        = -30
|stat1_max                        = -30
|spawn_weight1_tag                = fishing_rod
|spawn_weight1_value              = 0
|spawn_weight2_tag                = default
|spawn_weight2_value              = 1000
}}