{{Mod
|id                               = ArmourEnchantmentHeistDefenceEffectAttributeRequirements1
|mod_groups                       = EnchantmentHeistArmour
|domain                           = 1
|generation_type                  = 3
|required_level                   = 20
|name                             = Enchantment Defence Modifier Effect and Attribute Requirements
|mod_type                         = ArmourEnchantmentHeistDefenceModifierEffectAttributeRequirements
|stat_text                        = 6% increased Explicit Defence Modifier magnitudes<br>25% reduced Attribute Requirements
|stat1_id                         = heist_enchantment_defence_mod_effect_+%
|stat1_min                        = 6
|stat1_max                        = 6
|stat2_id                         = local_attribute_requirements_+%
|stat2_min                        = -25
|stat2_max                        = -25
}}