{{Mod
|id                               = IncreasedLocalAttributeRequirementsUniqueGlovesStrInt4
|mod_groups                       = LocalAttributeRequirements
|domain                           = 1
|generation_type                  = 3
|required_level                   = 1
|mod_type                         = LocalAttributeRequirements
|stat_text                        = 500% increased Attribute Requirements
|stat1_id                         = local_attribute_requirements_+%
|stat1_min                        = 500
|stat1_max                        = 500
|sell_price1_name                 = Alteration Shard
|sell_price1_amount               = 1
}}