{{Mod
|id                               = StrengthIntelligenceRequirementsUnique__1
|mod_groups                       = StrengthIntelligenceRequirements
|domain                           = 1
|generation_type                  = 3
|required_level                   = 1
|mod_type                         = StrengthIntelligenceRequirements
|stat_text                        = +600 [[Strength]] and [[Intelligence]] Requirement
|stat1_id                         = local_strength_and_intelligence_requirement_+
|stat1_min                        = 600
|stat1_max                        = 600
|sell_price1_name                 = Alchemy Shard
|sell_price1_amount               = 1
}}