{{Mod
|id                               = StrengthRequirementsUnique__4
|mod_groups                       = StrengthRequirements
|domain                           = 1
|generation_type                  = 3
|required_level                   = 1
|mod_type                         = StrengthRequirements
|stat_text                        = +100 [[Strength]] Requirement
|stat1_id                         = local_strength_requirement_+
|stat1_min                        = 100
|stat1_max                        = 100
|sell_price1_name                 = Alchemy Shard
|sell_price1_amount               = 1
}}