{{Mod
|id                               = StrengthRequirementsUnique__3_
|mod_groups                       = StrengthRequirements
|domain                           = 1
|generation_type                  = 3
|required_level                   = 1
|mod_type                         = StrengthRequirements
|stat_text                        = +(500-700) [[Strength]] Requirement
|stat1_id                         = local_strength_requirement_+
|stat1_min                        = 500
|stat1_max                        = 700
|sell_price1_name                 = Alchemy Shard
|sell_price1_amount               = 1
}}