{{Mod
|id                               = GlobalItemAttributeRequirementsUniqueAmulet19
|mod_groups                       = GlobalItemAttributeRequirements
|domain                           = 1
|generation_type                  = 3
|required_level                   = 45
|mod_type                         = GlobalItemAttributeRequirements
|stat_text                        = Items and Gems have 10% increased Attribute Requirements
|stat1_id                         = global_item_attribute_requirements_+%
|stat1_min                        = 10
|stat1_max                        = 10
|sell_price1_name                 = Alchemy Shard
|sell_price1_amount               = 4
}}