{{Mod
|id                               = ArmourEnchantmentHeistAttributeRequirements1
|mod_groups                       = EnchantmentHeistArmour
|domain                           = 1
|generation_type                  = 3
|required_level                   = 1
|name                             = Enchantment Attribute Requirements
|mod_type                         = ArmourEnchantmentHeistAttributeRequirements
|stat_text                        = 40% reduced Attribute Requirements
|stat1_id                         = local_attribute_requirements_+%
|stat1_min                        = -40
|stat1_max                        = -40
}}