{{Mod
|id                               = ReducedAttributeRequirementsUber2
|domain                           = 1
|generation_type                  = 2
|required_level                   = 75
|name                             = of Shaping
|mod_groups                       = GlobalItemAttributeRequirements
|mod_type                         = GlobalItemAttributeRequirements
|game_mode                        = 0
|stat_text                        = Items and Gems have (15-11)% reduced Attribute Requirements
|stat1_id                         = global_item_attribute_requirements_+%
|stat1_min                        = -15
|stat1_max                        = -11
|spawn_weight1_tag                = amulet_shaper
|spawn_weight1_value              = 800
|spawn_weight2_tag                = default
|spawn_weight2_value              = 0
|tags                             = influence_mod
|sell_price1_name                 = Alchemy Shard
|sell_price1_amount               = 4
}}