{{Mod
|id                               = IncreasedIntelligenceRequirementsUniqueSceptre1
|mod_groups                       = IncreasedIntelligenceRequirements
|domain                           = 1
|generation_type                  = 3
|required_level                   = 1
|mod_type                         = IncreasedIntelligenceRequirements
|stat_text                        = 60% increased [[Intelligence]] Requirement
|stat1_id                         = local_intelligence_requirement_+%
|stat1_min                        = 60
|stat1_max                        = 60
|sell_price1_name                 = Alchemy Shard
|sell_price1_amount               = 1
}}