{{Mod
|id                               = IntelligenceRequirementsUniqueBow12
|mod_groups                       = IntelligenceRequirements
|domain                           = 1
|generation_type                  = 3
|required_level                   = 1
|mod_type                         = IntelligenceRequirements
|stat_text                        = +212 [[Intelligence]] Requirement
|stat1_id                         = local_intelligence_requirement_+
|stat1_min                        = 212
|stat1_max                        = 212
|sell_price1_name                 = Alchemy Shard
|sell_price1_amount               = 1
}}